aioapns==4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
aiosmtpd==1.4.6
alabaster==1.0.0
altcha==2.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.11.1
asttokens==3.0.1
atpublic==7.0.0
attrs==26.1.0
Automat==25.4.16
babel==2.18.0
backoff==2.2.1
beautifulsoup4==4.14.3
black==26.3.1
boltons==21.0.0
boto3==1.42.89
boto3-stubs==1.42.89
botocore==1.42.89
botocore-stubs==1.42.41
bracex==2.6
CacheControl==0.14.4
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.2
click-option-group==0.5.9
codespell==2.4.2
colorama==0.4.6
constantly==23.10.4
coverage==7.13.5
cryptography==46.0.7
css-inline==0.20.2
cssselect==1.4.0
decorator==5.2.1
defusedxml==0.7.1
disposable-email-domains==0.0.170
distro==1.9.0
Django==5.2.13
django-auth-ldap==5.3.0
django-bitfield==2.2.0
django-bmemcached==0.3.0
django-cte==3.0.0
django-formtools==2.5.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-scim2==0.19.1
django-stubs==6.0.2
django-stubs-ext==6.0.2
django-two-factor-auth==1.18.1
dnspython==2.8.0
docutils==0.21.2
exceptiongroup==1.2.2
executing==2.2.1
face==26.0.0
fakeldap==0.6.6
fastuuid==0.14.0
filelock==3.28.0
firebase_admin==7.4.0
frozenlist==1.8.0
fsspec==2026.3.0
gitlint-core==0.19.1
glom==22.1.0
google-api-core==2.30.3
google-auth==2.49.2
google-cloud-core==2.5.1
google-cloud-firestore==2.27.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-re2==1.1.20251105
google-re2-stubs==0.1.1
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
greenlet==3.4.0
grpcio==1.80.0
grpcio-status==1.80.0
h11==0.16.0
h2==4.3.0
hf-xet==1.4.3
hpack==4.1.0
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.10.2
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
imagesize==2.0.0
importlib_metadata==9.0.0
Incremental==24.11.0
ipython==8.39.0
isodate==0.7.2
itemadapter==0.13.1
itemloaders==1.4.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.14.0
jmespath==1.1.0
joblib==1.5.3
jsonpickle==4.1.1
jsonref==1.1.0
jsonschema==4.24.1
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
jsx-lexer==2.0.1
lazy-object-proxy==1.12.0
librt==0.9.0
line_profiler==5.0.2
litellm==1.83.0
lxml==6.0.4
lxml-stubs==0.5.1
Markdown==3.10.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
more-itertools==11.0.2
moto==5.1.22
msgpack==1.1.2
multidict==6.7.1
mypy==1.20.1
mypy-boto3-s3==1.42.85
mypy-boto3-ses==1.42.3
mypy-boto3-sns==1.42.3
mypy-boto3-sqs==1.42.3
mypy_extensions==1.1.0
myst-parser==4.0.1
natsort==8.4.0
oauthlib==3.3.1
openai==2.32.0
openapi-core==0.23.1
openapi-schema-validator==0.8.1
openapi-spec-validator==0.8.4
orjson==3.11.8
packaging==26.1
parsel==1.11.0
parso==0.8.6
pathable==0.5.0
pathspec==1.0.4
peewee==3.19.0
pexpect==4.9.0
phonenumberslite==8.13.55
pika==1.3.2
platformdirs==4.9.6
polib==1.2.0
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.4.1
Protego==0.6.0
proto-plus==1.27.2
protobuf==6.33.6
psycopg2==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
py-partiql-parser==0.6.3
pyahocorasick==2.3.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pyasyncore==1.0.5
pybreaker==1.4.1
pycparser==3.0
pydantic==2.13.1
pydantic-partials==4.0.0
pydantic-settings==2.13.1
pydantic_core==2.46.1
PyDispatcher==2.0.7
PyGithub==2.9.1
Pygments==2.20.0
pyicu==2.16.2
pyinotify==0.9.6
PyJWT==2.12.1
pymongo==4.16.0
PyNaCl==1.6.2
pyoembed==0.1.2
pyOpenSSL==26.0.0
python-binary-memcached==0.31.4
python-bsonstream==0.1.4
python-dateutil==2.9.0.post0
python-debian==1.1.0
python-digitalocean==1.17.0
python-dotenv==1.2.2
python-ldap==3.4.5
python-magic==0.4.27
python3-openid==3.2.0
python3-saml==1.16.0
pytokens==0.4.1
pyuca==1.2
pyvips==3.1.1
PyYAML==6.0.3
qrcode==8.2
queuelib==1.9.0
redis==7.4.0
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
requests-file==3.0.1
requests-oauthlib==2.0.0
responses==0.26.0
rfc3339-validator==0.1.4
rich==15.0.0
rpds-py==0.30.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.15
ruff==0.15.10
s3transfer==0.16.0
scim2-filter-parser==0.7.0
Scrapy==2.15.0
semgrep==1.79.0
sentry-sdk==2.58.0
service-identity==24.2.0
sh==2.2.2
shellingham==1.5.4
six==1.17.0
sly==0.5
snakeviz==2.2.2
sniffio==1.3.1
snowballstemmer==3.0.1
social-auth-app-django==5.7.0
social-auth-core==4.8.5
soupsieve==2.8.3
Sphinx==8.1.3
sphinx-copybutton==0.5.2
sphinx_design==0.6.1
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==1.4.54
sqlalchemy2-stubs==0.0.2a38
sqlparse==0.5.5
stack-data==0.6.3
stripe==15.0.1
talon-core @ git+https://github.com/zulip/talon.git@e87a64dccc3c5ee1b8ea157d4b6e15ecd46f2bed#subdirectory=talon-core
tblib==3.2.2
tiktoken==0.12.0
time-machine==3.2.0
tldextract==5.3.1
tlds==2026021400
tokenizers==0.22.2
tomli==2.0.2
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
twilio==9.10.5
Twisted==25.5.0
typer==0.24.1
types-awscrt==0.31.3
types-beautifulsoup4==4.12.0.20250516
types-boto==2.49.18.20241019
types-cffi==2.0.0.20260408
types-decorator==5.2.0.20260408
types-defusedxml==0.7.0.20260408
types-docutils==0.22.3.20260408
types-html5lib==1.1.11.20260408
types-jsonschema==4.26.0.20260408
types-Markdown==3.10.2.20260408
types-oauthlib==3.3.0.20260408
types-pika==1.2.0b1
types-polib==1.2.0.20260408
types-psycopg2==2.9.21.20260408
types-Pygments==2.20.0.20260408
types-pyOpenSSL==24.1.0.20240722
types-python-dateutil==2.9.0.20260408
types-PyYAML==6.0.12.20260408
types-redis==4.6.0.20241004
types-regex==2026.4.4.20260408
types-requests==2.33.0.20260408
types-requests-oauthlib==2.0.0.20260408
types-s3transfer==0.16.0
types-setuptools==82.0.0.20260408
types-uWSGI==2.0.0.20260408
types-webencodings==0.5.0.20260408
types-zstd==1.5.7.3.20260408
types-zxcvbn==4.5.0.20260408
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
ua-parser==1.0.2
ua-parser-builtins==202603
ua-parser-rs==0.1.5
uhashring==2.4
uri-template==1.3.0
urllib3==2.6.3
uWSGI==2.0.31
virtualenv-clone==0.5.7
w3lib==2.4.1
wcmatch==8.5.2
wcwidth==0.6.0
webencodings==0.5.1
Werkzeug==3.1.8
xmlsec==1.3.17
xmltodict==1.0.4
xsentinels==1.3.1
yarl==1.23.0
zipp==3.23.1
zope.interface==8.3
zstd==1.5.7.3
zulint @ git+https://github.com/zulip/zulint.git@0b2858f59c72dbe561052878bb2e458d563e6641
zulip @ git+https://github.com/zulip/python-zulip-api.git@f945c4fd6c113406b4d9fdbf031252d4d814a6f8#subdirectory=zulip
zulip_bots @ git+https://github.com/zulip/python-zulip-api.git@f945c4fd6c113406b4d9fdbf031252d4d814a6f8#subdirectory=zulip_bots
zxcvbn==4.5.0
